
/*  480x854 Android */
@media only screen and  (min-device-width: 480px) and (max-device-height: 854px)
{
	body {height:520px !important;}
	#deck > *, .phantom > * {height:500px !important;}	
}

/*  320x508 (a version of 480x800) Android */
@media only screen and  (min-device-width: 320px) and (max-device-height: 508px)
{
	body {height:508px !important;}	
	#deck > *, .phantom > * {height:468px !important;}	
}

/*/*  480x800 Android */
@media only screen and   (min-device-width: 460px) and  (min-device-height: 700px)  and  (max-device-height: 800px) 
{
	body,#deck {height:880px !important;width: 480px !important;}	
	#line {position:absolute;left:180px;top:10px;width:120px;height:10px;}
	.width{width:480px !important;}
	.menu .menu_panels {width: 480px; height:800px;}	
	.menu .menu_panel:nth-child(2){left:-480px;}	
	#deck > *, .phantom > * {height:660px !important;width: 400px !important;padding:40px 40px 280px 40px;}		
}

/*  Galaxy Tab */
@media only screen and  (min-device-width: 399px) and (max-device-width: 400px) and (min-device-height: 599px) and (max-device-height: 657px)
{
	body,#deck,.phantom {width:400px !important;height:657px !important;}
	#line {position:absolute;left:140px;top:10px;width:120px;height:10px;}
	.width{width:400px !important;}	
	#deck > *, .phantom > * {height:590px !important;width:320px; padding:30px 40px 60px 40px;}	
	
	.menu .menu_panels {width: 400px; height:657px;}	
	.menu .menu_panel:nth-child(2){left:-400px;}
	
	#current_book {font-size:1.8em;padding-top:20px;padding-bottom:20px;}
	.page {line-height:28px;}
}